# node dependencies
node_modules/
package-lock.json

# config files
server_config.js
mysql_config.js

# ignore some js files (using autominifier)
server.min.js
server_config.min.js
mysql_config.min.js