# keys and certs
*.pem

# config files
server_config.js
mysql_config.js

# ignore some js files (using autominifier)
server.min.js
server_config.min.js
mysql_config.min.js

# node dependencies
node_modules/