# sitemap
sitemap.xml

# config files
server_config.js
mysql_config.js

# ignore some minified files
/*.min.js
*/bundle/*.min.js
*/bundle/*.min.css

# node dependencies
node_modules/
package-lock.json